@import "tailwindcss";
@plugin "tailwindcss-animate";

@layer base {
  body {
    @apply bg-gray-700 text-white font-sans;
  }
}

@utility card-anm-in {
    @apply animate-in fade-in slide-in-from-bottom-10 duration-700 hover:shadow-2xl transition-shadow;
}

@utility card-anm-out {
    @apply animate-in fade-in slide-in-from-top-10 duration-300 ;
}